/OlaMundoJavaFx/nbproject/private/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaFX/nbproject/private/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSing/nbproject/private/
/SomaSing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/testDate/nbproject/private/
/ OperadoresAritmeticos/nbproject/private/
/ OperadoresAritmeticos/build/
